In [2]:
import glob, os
import pandas as pd
import numpy as np

df1 = pd.read_csv('Project Data/Game_results13-14.csv', parse_dates=True)
df1['Season'] = '2013/2014'
df2 = pd.read_csv('Project Data/Game_results14-15.csv', parse_dates=True)
df2['Season'] = '2014/2015'
df3 = pd.read_csv('Project Data/Game_results15-16.csv', parse_dates=True)
df3['Season'] = '2015/2016'
df4 = pd.read_csv('Project Data/Game_results16-17.csv', parse_dates=True)
df4['Season'] = '2016/2017'
df5 = pd.read_csv('Project Data/Game_results17-18.csv', parse_dates=True)
df5['Season'] = '2017/2018'
df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
df['Unnamed: 7'] = df['Unnamed: 7'].apply(lambda x: 1 if x == 'OT' else (2 if x == '2OT' else (3 if x == '3OT'
                                          else (4 if x == '4OT' else 0))))
df['Visitor/Neutral'] = df['Visitor/Neutral'].apply(lambda x: 'Charlotte Hornets' if x == 'Charlotte Bobcats' else x)
df['Home/Neutral'] = df['Home/Neutral'].apply(lambda x: 'Charlotte Hornets' if x == 'Charlotte Bobcats' else x)
df.rename(columns={'Unnamed: 7':'Overtime', 'PTS':'Visitor-Points', 'PTS.1':'Home-Points'}, inplace=True)
df = df.drop(['Unnamed: 6', 'Notes'], 1)
df.head()

,Date,Start (ET),Visitor/Neutral,Visitor-Points,Home/Neutral,Home-Points,Overtime,Attend.,Season
0,Tue Oct 29 2013,7:00 pm,Orlando Magic,87,Indiana Pacers,97,0,18165,2013/2014
1,Tue Oct 29 2013,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,0,18997,2013/2014
2,Tue Oct 29 2013,8:00 pm,Chicago Bulls,95,Miami Heat,107,0,19964,2013/2014
3,Wed Oct 30 2013,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,0,20562,2013/2014
4,Wed Oct 30 2013,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,0,19834,2013/2014

In [3]:
df1M = pd.read_csv('Project Data/M_table13-14.csv')
df1M.columns = df1M.iloc[0]
df1M['Season']='2013/2014'
df2M = pd.read_csv('Project Data/M_table14-15.csv')
df2M.columns = df2M.iloc[0]
df2M['Season']='2014/2015'
df3M = pd.read_csv('Project Data/M_table15-16.csv')
df3M.columns = df3M.iloc[0]
df3M['Season']='2015/2016'
df4M = pd.read_csv('Project Data/M_table16-17.csv')
df4M.columns = df4M.iloc[0]
df4M['Season']='2016/2017'
df5M = pd.read_csv('Project Data/M_table17-18.csv')
df5M.columns = df5M.iloc[0]
df5M['Season']='2017/2018'
dfM = pd.concat([df1M, df2M, df3M, df4M, df5M], ignore_index=True)
dfM = dfM[dfM.Team != 'Team']
dfM = dfM[dfM.Team != 'League Average']
dfM.Team = dfM.Team.str.replace('*','')
dfM['Team'] = dfM['Team'].apply(lambda x: 'Charlotte Hornets' if x == 'Charlotte Bobcats' else x)
dfM = dfM.drop(['Rk', 'Arena', 'Attend.', 'Attend./G'], 1)
dfM.columns.values[15] = "OeFG%"
dfM.columns.values[16] = "OTOV%"
dfM.columns.values[17] = "ODRB%"
dfM.columns.values[18] = "OFT/FGA"
dfM.columns.values[19] = "DeFG%"
dfM.columns.values[20] = "DTOV%"
dfM.columns.values[21] = "DDRB%"
dfM.columns.values[22] = "DFT/FGA"
dfM.head()

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,TS%,OeFG%,OTOV%,ODRB%,OFT/FGA,DeFG%,DTOV%,DDRB%,DFT/FGA,Season
1,San Antonio Spurs,28.9,62,20,61,21,7.72,0.28,8.00,110.5,...,.571,.537,13.5,22.7,.188,.482,12.8,76.4,.184,2013/2014
2,Los Angeles Clippers,28.1,57,25,59,23,6.98,0.30,7.27,112.1,...,.567,.526,12.7,25.0,.258,.484,13.8,72.5,.222,2013/2014
3,Oklahoma City Thunder,26.2,59,23,58,24,6.34,0.32,6.66,110.5,...,.566,.520,14.0,26.5,.244,.488,13.9,75.6,.221,2013/2014
4,Golden State Warriors,26.3,51,31,54,28,4.80,0.34,5.15,107.5,...,.550,.517,13.8,25.1,.186,.477,13.6,76.3,.224,2013/2014
5,Houston Rockets,25.4,54,28,53,29,4.56,0.50,5.06,111.0,...,.571,.531,14.6,27.4,.275,.489,12.5,74.1,.193,2013/2014

In [4]:
df1O = pd.read_csv('Project Data/O_table13-14.csv')
df1O['Season']='2013/2014'
df2O = pd.read_csv('Project Data/O_table14-15.csv')
df2O['Season']='2014/2015'
df3O = pd.read_csv('Project Data/O_table15-16.csv')
df3O['Season']='2015/2016'
df4O = pd.read_csv('Project Data/O_table16-17.csv')
df4O['Season']='2016/2017'
df5O = pd.read_csv('Project Data/O_table17-18.csv')
df5O['Season']='2017/2018'
dfO = pd.concat([df1O, df2O, df3O, df4O, df5O], ignore_index=True)
dfO.Team = dfO.Team.str.replace('*','')
dfO = dfO[dfO.Team != 'League Average']
dfO['Team'] = dfO['Team'].apply(lambda x: 'Charlotte Hornets' if x == 'Charlotte Bobcats' else x)
dfO = dfO.drop(['Rk'], 1)
dfO = dfO.add_prefix('O_')
dfO.head()

,O_Team,O_G,O_MP,O_FG,O_FGA,O_FG%,O_3P,O_3PA,O_3P%,O_2P,...,O_ORB,O_DRB,O_TRB,O_AST,O_STL,O_BLK,O_TOV,O_PF,O_PTS,O_Season
0,Chicago Bulls,82,243.0,35.0,81.2,0.430,6.6,18.7,0.351,28.4,...,10.7,30.6,41.3,19.6,7.6,6.0,14.4,20.9,91.8,2013/2014
1,Indiana Pacers,82,241.2,34.8,82.7,0.420,6.6,19.0,0.345,28.2,...,10.4,30.7,41.2,18.6,7.2,4.6,13.7,21.9,92.3,2013/2014
2,Memphis Grizzlies,82,241.5,35.7,79.3,0.450,7.5,21.1,0.355,28.2,...,9.9,29.3,39.2,19.9,7.2,5.0,14.2,18.9,94.6,2013/2014
3,Charlotte Hornets,82,242.7,36.9,83.4,0.442,8.1,22.0,0.369,28.7,...,9.6,33.7,43.3,21.0,6.3,5.1,13.3,20.9,97.1,2013/2014
4,Miami Heat,82,242.4,36.1,79.0,0.457,8.5,23.4,0.362,27.6,...,10.8,29.5,40.3,21.4,8.1,3.1,16.7,20.4,97.4,2013/2014

In [5]:
df1T = pd.read_csv('Project Data/T_table13-14.csv')
df1T['Season']='2013/2014'
df2T = pd.read_csv('Project Data/T_table14-15.csv')
df2T['Season']='2014/2015'
df3T = pd.read_csv('Project Data/T_table15-16.csv')
df3T['Season']='2015/2016'
df4T = pd.read_csv('Project Data/T_table16-17.csv')
df4T['Season']='2016/2017'
df5T = pd.read_csv('Project Data/T_table17-18.csv')
df5T['Season']='2017/2018'
dfT = pd.concat([df1T, df2T, df3T, df4T, df5T], ignore_index=True)
dfT.Team = dfT.Team.str.replace('*','')
dfT = dfT[dfT.Team != 'League Average']
dfT['Team'] = dfT['Team'].apply(lambda x: 'Charlotte Hornets' if x == 'Charlotte Bobcats' else x)
dfT = dfT.drop(['Rk'], 1)
dfT = dfT.add_prefix('T_')
dfT.head()

,T_Team,T_G,T_MP,T_FG,T_FGA,T_FG%,T_3P,T_3PA,T_3P%,T_2P,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,T_Season
0,Los Angeles Clippers,82,240.9,39.1,82.5,0.474,8.5,24.0,0.352,30.7,...,10.5,32.5,43.0,24.6,8.6,4.8,13.9,21.5,107.9,2013/2014
1,Houston Rockets,82,241.8,38.0,80.5,0.472,9.5,26.6,0.358,28.5,...,11.2,34.1,45.3,21.4,7.6,5.6,16.1,20.4,107.7,2013/2014
2,Minnesota Timberwolves,82,242.1,38.9,87.5,0.444,7.3,21.4,0.341,31.6,...,12.5,32.2,44.7,23.9,8.8,3.6,13.9,18.3,106.9,2013/2014
3,Portland Trail Blazers,82,242.1,39.1,87.0,0.450,9.4,25.3,0.372,29.7,...,12.5,34.0,46.4,23.2,5.5,4.7,13.7,19.2,106.7,2013/2014
4,Oklahoma City Thunder,82,241.5,39.0,82.7,0.471,8.1,22.4,0.361,30.9,...,10.8,33.9,44.7,21.9,8.3,6.1,15.3,22.7,106.2,2013/2014

In [6]:
df_new = pd.merge(df, dfM, how='left', left_on=['Visitor/Neutral','Season'], right_on = ['Team','Season'])
df_new = pd.merge(df_new, dfM, how='left', left_on=['Home/Neutral','Season'], right_on = ['Team','Season'])
df_new = df_new.drop(['Team_x', 'Team_y'], 1)
df_new.head()

,Date,Start (ET),Visitor/Neutral,Visitor-Points,Home/Neutral,Home-Points,Overtime,Attend.,Season,Age_x,...,3PAr_y,TS%_y,OeFG%_y,OTOV%_y,ODRB%_y,OFT/FGA_y,DeFG%_y,DTOV%_y,DDRB%_y,DFT/FGA_y
0,Tue Oct 29 2013,7:00 pm,Orlando Magic,87,Indiana Pacers,97,0,18165,2013/2014,24.6,...,.235,.535,.490,14.3,24.9,.226,.460,12.9,76.8,.197
1,Tue Oct 29 2013,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,0,18997,2013/2014,28.1,...,.291,.542,.505,13.7,20.2,.199,.513,12.4,71.0,.192
2,Tue Oct 29 2013,8:00 pm,Chicago Bulls,95,Miami Heat,107,0,19964,2013/2014,28.6,...,.292,.590,.554,14.6,20.6,.228,.511,15.8,73.0,.212
3,Wed Oct 30 2013,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,0,20562,2013/2014,30.0,...,.236,.518,.479,13.0,27.2,.201,.508,13.0,75.8,.199
4,Wed Oct 30 2013,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,0,19834,2013/2014,27.5,...,.274,.564,.526,12.7,24.6,.201,.515,14.8,72.7,.229

In [8]:
df_new = pd.merge(df_new, dfO, how='left', left_on=['Visitor/Neutral','Season'], right_on = ['O_Team','O_Season'])
df_new = pd.merge(df_new, dfO, how='left', left_on=['Home/Neutral','Season'], right_on = ['O_Team','O_Season'])
df_new = pd.merge(df_new, dfT, how='left', left_on=['Visitor/Neutral','Season'], right_on = ['T_Team','T_Season'])
df_new = pd.merge(df_new, dfT, how='left', left_on=['Home/Neutral','Season'], right_on = ['T_Team','T_Season'])
df_new = df_new.drop(['O_Team_x', 'O_Team_y', 'T_Team_x', 'T_Team_y',
                      'O_Season_x', 'O_Season_y', 'T_Season_x', 'T_Season_y'], 1)
df_new.columns = [c.replace('_x', '_Visitor') for c in df_new.columns]
df_new.columns = [c.replace('_y', '_Home') for c in df_new.columns]
df_new.head()

,Date,Start (ET),Visitor/Neutral,Visitor-Points,Home/Neutral,Home-Points,Overtime,Attend.,Season,Age_Visitor,...,T_FT%_Home,T_ORB_Home,T_DRB_Home,T_TRB_Home,T_AST_Home,T_STL_Home,T_BLK_Home,T_TOV_Home,T_PF_Home,T_PTS_Home
0,Tue Oct 29 2013,7:00 pm,Orlando Magic,87,Indiana Pacers,97,0,18165,2013/2014,24.6,...,0.779,10.2,34.5,44.7,20.1,6.7,5.4,15.1,20.4,96.7
1,Tue Oct 29 2013,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,0,18997,2013/2014,28.1,...,0.757,9.1,32.0,41.0,24.5,7.5,5.4,15.1,19.8,103.0
2,Tue Oct 29 2013,8:00 pm,Chicago Bulls,95,Miami Heat,107,0,19964,2013/2014,28.6,...,0.760,7.6,29.2,36.9,22.5,8.9,4.5,14.8,19.5,102.2
3,Wed Oct 30 2013,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,0,20562,2013/2014,30.0,...,0.751,12.1,32.1,44.1,21.2,7.1,3.7,14.2,20.0,98.2
4,Wed Oct 30 2013,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,0,19834,2013/2014,27.5,...,0.795,10.2,30.7,40.9,23.6,8.6,4.3,13.5,20.0,104.8

In [10]:
df_new.to_csv('example.csv', index=False)